.carousel-image-1 {
  background-image: url(../assets/bbm1.jpg);
}

.carousel-image-2 {
  background-image: url(../assets/bbm2.jpg);
}

.carousel-image-3 {
  background-image: url(../assets/bbm3.jpg);
}

.carousel-image {
  transition: opacity 0.3s ease-in;
  transition: transform 0.2s ease-in-out;
}

.active .carousel-image {
  opacity: 0.9;
  transform: scale(1.0);
}

.caption-container {
  position: relative;
  height: 100%;
}

.caption {
  bottom: 0;
  position: absolute;
  width: 80%;
}

.row {
  height: 100vh;
}

.caption:not(#caption-0) {
  display: none;
}

/* used for images entering/leaving */
.left .carousel-image, .right .carousel-image {
  opacity: 0.7;
  transform: scale(0.9);
}

.btn-menu {
  border-radius: 50%;
}

@media (max-width: 767px) {
  .dropdown {
    left: 6%;
    position: absolute;
    top: 6%;
    z-index: 1;
  }

  .carousel-image-1, .carousel-image-2, .carousel-image-3 {
    background-position: center center;
    height: 100vh;
  }

  .btn-menu {
    min-height: 80px;
    min-width: 80px;
  }
}

@media (min-width: 768px) {
  
  .dropdown {
    right: 20%;
    position: absolute;
    top: 8%;
    z-index: 1;
  }

  .btn-menu {
    border-radius: 50%;
    height: 10vw;
    max-height: 300px;
    max-width: 300px;
    width: 10vw;
  }

  .carousel-inner {
    margin: 0 auto;
    width: 100%;
  }

  .carousel-image-1, .carousel-image-2, .carousel-image-3 {
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
  }
}
