body {
  color: black;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar, .info-section, .footer {
  font-family: 'Lato', sans-serif;
}

.container {
	width: 1000px;
}

.nav-container {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)));
  width: 100%;
}

.navbar {
  background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	height: 65px;
	width: 100%;
}

.container-fluid {
  padding-left: 11px;
}

/*.navbar .img-circle {
  height: 50px;
  width: 50px;
}*/

.navbar-default .navbar-nav>li>a {
  color: white;
  font-style: normal;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #B6C7E3;
}

.navbar li {
	margin-top: 7px;
}

.navbar li:first-child {
  border-right: 1px solid white;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  margin: 15px 15px 8px 0px;
  padding: 7px 30px 7px 0px;
}

.jumbotron {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('https://lh4.googleusercontent.com/-7vHuOVuyRrw/VVU54x3YvpI/AAAAAAABbL0/Vc971Wx9nqY/w1044-h395-no/15%2B-%2B1');
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('https://lh4.googleusercontent.com/-7vHuOVuyRrw/VVU54x3YvpI/AAAAAAABbL0/Vc971Wx9nqY/w1044-h395-no/15%2B-%2B1');
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('https://lh4.googleusercontent.com/-7vHuOVuyRrw/VVU54x3YvpI/AAAAAAABbL0/Vc971Wx9nqY/w1044-h395-no/15%2B-%2B1');
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('https://lh4.googleusercontent.com/-7vHuOVuyRrw/VVU54x3YvpI/AAAAAAABbL0/Vc971Wx9nqY/w1044-h395-no/15%2B-%2B1');
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url('https://lh4.googleusercontent.com/-7vHuOVuyRrw/VVU54x3YvpI/AAAAAAABbL0/Vc971Wx9nqY/w1044-h395-no/15%2B-%2B1');
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('https://lh4.googleusercontent.com/-7vHuOVuyRrw/VVU54x3YvpI/AAAAAAABbL0/Vc971Wx9nqY/w1044-h395-no/15%2B-%2B1'));
	background-size: cover;
	color: white;
	font-family: 'Droid Serif', serif;
	font-style: italic;
	height: 450px;
	padding: 0px;
}

.h1-container {
  margin-top: 50px;
}

.jumbotron p {
	margin: 0 0 7px 7px;
}

h1 {
	margin: 0;
}

.page-header {
  border-bottom: 1px solid gray;
  margin-top: 80px;
}

.page-header .img-circle {
  height: 128px;
  margin-right: 25px;
  width: 128px;
}

.row {
  margin: 40px 0 90px;
}

p, li {
  font-size: 1.1em;
  line-height: 1.6;
}

.about p {
  padding-bottom: 10px;
}

.col-sm-6:first-child, .contact .col-sm-4:first-child {
  padding: 0px 35px 0px 0px;
}

.col-sm-6:nth-child(2), .contact .col-sm-4:nth-child(2) {
  padding: 0px 0px 0px 35px;
}

.goals-container, .projects-container {
  background-color: #B6C7E3;
}

.goals-container ul {
  padding-left: 17px;
}

.goals-container li {
  padding-bottom: 10px;
}

.projects-container span {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}

/* projects-container column padding */

.first .col-sm-4 {
  padding: 0 35px 0 0;
}

.second .col-sm-4 {
  padding: 0 17.5px 0;
}

.third .col-sm-4 {
  padding: 0 0 0 35px;
}

.projects-container ul, .contact ul, .footer ul {
  list-style: none;
  padding: 0;
}

.projects-container img {
  display: block;
  height: 128px;
  margin: 0px auto 30px;
  width: 128px;
}

img.desaturate {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

img.desaturate:hover {
  filter: none;
  -webkit-filter: none;
}

.contact li {
  margin-top: 10px;
}

.footer {
  background-color: #2E3C52;
	border-top: 1px solid #e5e5e5;
	color: white;
	padding: 50px;
	text-align: center;
}

.footer li {
  display: inline;
}

.footer img {
  height: 35px;
  margin: 10px;
  width: 35px;
}

.footer p {
  font-weight: bold;
  margin: 3px;
}



